
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main class="container text-center my-5">
    <h1 class="mb-4">
        Categories
    </h1>
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="gaming_pc.html">
                <img src="gaming_pc.png" alt="Gaming PC" class="img-fluid rounded">
                <p>GAMING PC</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="pc_builder.html">
                <img src="pc_builder.png" alt="PC Builder" class="img-fluid rounded">
                <p>PC BUILDER</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="gaming_pc_setup.html">
                <img src="gaming_pc_setup.png" alt="Gaming PC Setup" class="img-fluid rounded">
                <p>GAMING PC SETUP</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="pc_components.html">
                <img src="pc_components.png" alt="PC Components" class="img-fluid rounded">
                <p>PC COMPONENTS</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="gaming_monitors.html">
                <img src="gaming_monitors.png" alt="Gaming Monitors" class="img-fluid rounded">
                <p>GAMING MONITORS</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="keyboards.html">
                <img src="keyboards.png" alt="Keyboards" class="img-fluid rounded">
                <p>KEYBOARDS</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="mice.html">
                <img src="mice.png" alt="Mice" class="img-fluid rounded">
                <p>MICE</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="headsets.html">
                <img src="headsets.png" alt="Headsets" class="img-fluid rounded">
                <p>HEADSETS</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="gaming_chairs.html">
                <img src="gaming_chairs.png" alt="Gaming Chairs" class="img-fluid rounded">
                <p>GAMING CHAIRS</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="gaming_desks.html">
                <img src="gaming_desks.png" alt="Gaming Desks" class="img-fluid rounded">
                <p>GAMING DESKS</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="gaming_consoles.html">
                <img src="gaming_consoles.png" alt="Gaming Consoles" class="img-fluid rounded">
                <p>GAMING CONSOLES</p>
            </a>
        </div>
    </div>
</main>

